.photo-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 15px;
  padding: 0 50px 40px 50px;
}
.photo-grid div img{
  height: 100%;
  width: 100%; 
}

@media screen and (max-width: 1024px) {
  .photo-grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 12px;
  }
}
@media screen and (max-width: 768px) {
  .photo-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 12px;
    padding: 0 24px 30px 24px;
  }
}
@media screen and (max-width: 320px) {
  .photo-grid {
    grid-template-columns:  1fr;
    grid-template-rows: repeat(12, 1fr);
    grid-gap: 12px;
        }
}
