.conteiner {
  padding: 50px 0 50px 0;
  max-width: 1280px;
  min-width: 320px;
  margin: auto;
}

@media screen and (max-width:1024px) {
  .conteiner {
    padding: 50px 0 50px 0;
    width: 100%;
  }  
}

@media screen and (max-width:768px) {
  .conteiner {
    padding: 24px 0 24px 0;
    width: 100%;
  }  
}

@media screen and (max-width:320px) {
  .conteiner {
    padding: 16px 0 16px 0;
    width: 100%;
  }  
}

