.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 28px;
    padding-left: 50px;
    padding-right: 50px;
}
@media screen and (min-width: 320px) and (max-width:768px){
    .header{
        padding-left: 24px;
        padding-right: 24px;
    } 
}
@media screen  and (max-width:320px){
    .header{
        padding-left: 16px;
        padding-right: 16px;
        margin-top: 18px;
    }}  