.plase__pic{
  height: 460px;
  width: 460px;
    
}
@media screen and (max-width: 1024){
  .plase__pic{
    height: 100%;
    width: 440px;
  }
}
@media screen  and (max-width:768px){
  .plase__pic{
    height: 100%;
    width: 340px;
    padding-bottom: 100px;
  }
}
@media screen  and (max-width:320px){
  .plase__pic{
    height: 100%;
    width: 320px;
    padding-bottom: 0;
  }
}