.plase__pic{
    height: 460px;
    width: 460px;
    
}
@media screen and (min-width: 320px) and (max-width:768px){
    .plase__pic{
        height: 340px;
        width: 340px;
    }
}
@media screen  and (max-width:320px){
    .plase__pic{
        height: 320px;
        width: 320px;
    }
}