.lead__picmap {
  position: absolute;
  z-index: 2;
  left: 30px;
  top: 93px;
  
}

@media screen and (max-width:1024px) {
  .lead__picmap {
    left: 0px;
    top: 0px;
  }
}

@media screen and (max-width:768px) {
  .lead__picmap {
    left: 0px;
    top: 0px;
  }
}
@media screen  and (max-width:320px) {
  .lead__picmap {
    left: 0px;
    top: 0px;
  }
}